@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

:root {
    --primary-color: #6F5091;
    --background-green-color: #F3FBE7;
    --background-gray-color: #F2F2F2;
    --secondary-color: #70AB3A;
    --text-color: #6F5091;
    --text-secondary-color: rgb(22, 22, 22);
    --text-gray-color: #9F9F9F;
}

html,
body {
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
    color: var(--text-color);
}

input {
    font-family: 'PT Sans', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h3 {
    font-weight: 500;
}

button {
    cursor: pointer;
    width: 85%;
    margin: 2rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border: none;
    border-radius: 3rem;
    background: linear-gradient(180deg, #9CDC43 0%, #70AB3A 100%);
    transition: background-color 0.3s ease;
}

button:disabled {
    opacity: 0.3;
}

.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.starter-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #D8F1B3 100%);
}

.icon {
    color: var(--primary-color);
}

.rating-star {
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
}

.rating-star.disabled .star-mask {
    opacity: 1;
}

.star-mask {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 2;
    top: 51%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}


.logo-header {
    width: 8rem;
    margin-top: 1.5rem;
}

.hero-image {
    width: 60%;
    max-width: 25rem;
    margin-top: 1rem;
}

.hero-title {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.hero-subtitle {
    padding: 0 2rem;
    color: var(--text-secondary-color);
    text-align: center;
}

.start-button-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 8rem;
    margin: 1.5rem;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    background: white;
    justify-content: center;
}

.step-body {
    height: calc(100vh - 20rem);
    width: 100%;
    padding: 1.5rem;
    padding-top: 0;
    overflow: auto;
}

.step-body .question-title {
    margin-bottom: 1rem;
}

.step-body .question-input-text {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    width: 100%;
}

.progress-bar-container {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar-background {
    width: 85%;
    height: 6px;
    border-radius: 10px;
    background: #EDE7F5;
    position: relative;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in;
    background: linear-gradient(180deg, #9475CF 0%, #735497 100%);
}

.progress-bar-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 50%;
    transform: translate(-20%, -50%);
    transition: left 0.3s ease-in;
    box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
}

.progress-bar-thumb span {
    position: absolute;
    font-weight: 700;
    font-size: 12px;
    left: 50%;
    top: -80%;
    transform: translate(-50%, -50%);
}

.progress-bar-thumb::before {
    content: "";
    width: 65%;
    height: 65%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(180deg, #9475CF 0%, #735497 100%);
}

.buttons-bar {
    background-color: var(--background-green-color);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    padding-top: 1.5rem;
}

.buttons-bar button {
    margin: 0.25rem;
    font-size: 1rem;
    padding: 1rem;
}


.button-previous {
    background: none;
    border: 2px solid #70AB3A;
    color: var(--text-secondary-color);
}

.button-next {
    color: white;
}

button.button-auto-next {
    margin: 2rem auto;
    padding: 1rem;
}

.button-next span {
    margin: 0 0.5rem;
}

.header h3 {
    margin-bottom: 2px;
    margin-left: 0.5rem;
}

.helper-tag {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.4rem 0.6rem;
    background: linear-gradient(180deg, #9CDC43 0%, #70AB3A 100%);
    color: white;
    border-radius: 5px;
    width: max-content;
}

.helper-tag .tick-icon {
    width: 10px;
    margin-right: 1px;
    margin-top: 3px;
}

.helper-tag-text {
    margin: 0 5px 0px;
}

.date-input {
    display: flex;
    align-items: center;
    width: 15rem;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    height: 3rem;
    cursor: pointer;
}

.date-icon {
    height: 100%;
    width: 3rem;
    /* aspect-ratio: 1/1; */
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background: linear-gradient(180deg, #9475CF 0%, #735497 100%);
}

.date-text {
    margin: 0.5rem;
}

.checkbox-block {
    margin: 1rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s ease;
}

.checkbox-block .checkbox-container {
    width: 3rem;
    display: flex;
    justify-content: center;
}

.custom-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: var(--background-gray-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

.checkbox-custom-input {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    padding: 0.6rem;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: var(--background-gray-color);
    width: calc(100% - 3rem);
}

.custom-radio-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--background-gray-color);
    margin: 0.5rem;
}

.custom-radio-button .custom-radio-button-inner {
    width: 105%;
    height: 105%;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
}

.custom-radio-button .custom-radio-button-inner::before {
    content: "";
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-checkbox.checked {
    background-color: var(--primary-color);
    padding: 0.3rem;
}

.checkbox-text {
    padding: 0.5rem;
    padding-left: 0;
    width: calc(100% - 3rem);
}

.checkbox-text .title {
    font-size: 1rem;
}

.checkbox-text .description {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.rating-container {
    width: 20rem;
}

.stars-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.descriptor-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.descriptor-container span {
    color: var(--text-gray-color);
    font-size: 0.75rem;
}

.rdp {
    --rdp-accent-color: var(--primary-color) !important;
}